<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">
	<display-name>Mobile Master System</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/daoContext.xml
			/WEB-INF/applicationContext.xml
			/WEB-INF/applicationContext-action.xml
		</param-value>
	</context-param>
	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.properties</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.util.Log4jConfigListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>PreLoadServlet</servlet-name>
		<servlet-class>com.dolphin.webapp.servlet.PreLoadServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	
	<!-- session config -->
	<session-config>
		<session-timeout>300</session-timeout>
	</session-config>
		
	<!-- struts mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PreLoadServlet</servlet-name>
		<url-pattern>/reload</url-pattern>
	</servlet-mapping>
	<filter>
	     <filter-name>CharsetEncodingFilter</filter-name>
	     <filter-class>com.dolphin.webapp.common.web.struts.CharacterEncodingFilter</filter-class>
	     <init-param>
	            <param-name>encoding</param-name>
	            <param-value>UTF-8</param-value>
	     </init-param>
	 </filter>
	 <filter-mapping>
	     <filter-name>CharsetEncodingFilter</filter-name>
	     <url-pattern>*.do</url-pattern>
	</filter-mapping>	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/</location>
	</error-page>
	
</web-app>